{{! This is a custom template page associated to the /projects static page.}}
{{! If you want to have something similar, make sure you modify its content.}}

{{!< default}}

<main role="main">
    <article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article" style="border-bottom:0;">

        {{#post}}
        <h1 class="post-title">{{title}}</h1>

        {{! Here goes the description of the projects static page. The content of the post is used for this. }}
        <section class="post-content projects-content">
            {{content}}
        </section>

        {{! Here go the static pages. Make sure you modify the links of the pages and their titles. }}
        <p class="project-page">
            <span class="project-title" itemprop="headline">
                <a href="#">
                    <span class="project-name">Tic Tac Toe</span>
                    <span class="project-description">Project 1 for General Assembly Web Developer Immersive course. Built with js/jQuery/Bootstrap and Walkway.js for svg animation.</span>
                </a>
            </span>
        </p>


        {{/post}}

    </article>
</main>
